[Unit]
Description=daemon to keep rcdx_container control group hierarchy

[Service]
Type=notify
ExecStart=/usr/local/sbin/rcdx_container-cg-keeper
Slice=rcdx_container.slice
Delegate=true

[Install]
WantedBy=multi-user.target